{% extends 'catalog/index.html' %}


{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
</div>
<ul class="list-group">
    {% for object in object_list %}
    <li class="list-group-item"><h5>{{ object.name }}</h5></li>
    <a class="btn btn-primary b-5" href="{% url 'catalog:item' object.pk %}">Подробнее</a><br>
    <a  class="btn btn-primary" href="{% url 'catalog:update_product' object.pk %}">Изменить</a>
    {% endfor %}
</ul>

{% endblock %}